AuthType Basic
AuthName "Protected Directory"
AuthUserFile "/home/three29/.htpasswd"
require valid-user

RewriteEngine on
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9\/\\\-]+)?$ index.php [L]
